<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <!--<meta name="theme-color" content="#2196f3">-->
    <!-- Your app title -->

    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="stylesheets/framework7.ios.css">
    <!-- Path to Framework7 color related styles, Material Theme -->
    <link rel="stylesheet" href="stylesheets/framework7.ios.colors.css">

    <link rel="stylesheet" href="stylesheets/base.css">

</head>
<body>
{{{body}}}
</body>
</html>
